.parallax-image {
    background: url('./fondo3.jpg') fixed no-repeat 50% 50%; 
    background-size: cover;
}

.titulo {
    background-color: rgba(0, 0, 0, 0.295);
}

@media (max-width: 768px) {
    .tamano {
        font-size: 2.25rem/* 36px */;
        line-height: 2.5rem
    }
    .titulos {
        text-align: center;
    }
}